<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhiren.auth.mapper.AuthGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zhiren.auth.entity.AuthGroup">
        <id column="GroupId" property="GroupId" />
        <result column="ParentGroupId" property="ParentGroupId" />
        <result column="GroupName" property="GroupName" />
        <result column="GroupType" property="GroupType" />
        <result column="TenantID" property="TenantID" />
    </resultMap>

</mapper>
