<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhiren.auth.mapper.AuthClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zhiren.auth.entity.AuthClient">
        <id column="ClientId" property="ClientId" />
        <result column="ResourceIds" property="ResourceIds" />
        <result column="SecretRequired" property="SecretRequired" />
        <result column="ClientSecret" property="ClientSecret" />
        <result column="Scoped" property="Scoped" />
        <result column="Scope" property="Scope" />
        <result column="AuthorizedGrantTypes" property="AuthorizedGrantTypes" />
        <result column="RegisteredRedirectUri" property="RegisteredRedirectUri" />
        <result column="AccessTokenValiditySeconds" property="AccessTokenValiditySeconds" />
        <result column="RefreshTokenValiditySeconds" property="RefreshTokenValiditySeconds" />
        <result column="AutoApprove" property="AutoApprove" />
        <result column="TenantID" property="TenantID" />
    </resultMap>

</mapper>
