zhiren:
  druid:
    passWord: 123456
  swagger:
    title: ZhiRenAuth
    show: true
    basePackage: cn.zhiren.auth.web
server:
  port: 8100
spring:
      redis:
          host: 192.168.159.128
          port: 7001
      datasource:
          name: zhiren
          url: jdbc:mysql://192.168.159.128:3306/zhiren?useUnicode=true&characterEncoding=utf8
          username: root
          password: 123456
          # 使用druid数据源
          platform: mysql
          type: com.alibaba.druid.pool.DruidDataSource
          driver-class-name: com.mysql.jdbc.Driver
          filters: stat,wall
          maxActive: 20
          initialSize: 1
          maxWait: 60000
          minIdle: 1
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 300000
          validationQuery: select 'x'
          testWhileIdle: true
          testOnBorrow: false
          testOnReturn: false
          poolPreparedStatements: true
          maxOpenPreparedStatements: 20
          maxPoolPreparedStatementPerConnectionSize : 20
          connectionProperties : druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
          useGlobalDataSourceStat : true
mybatis:
    mapper-locations: classpath:mapping/*.xml
    type-aliases-package: cn.zhiren.auth.model
#pagehelper分页插件
pagehelper:
      helperDialect: mysql
      reasonable: true
      supportMethodsArguments: true
      params: count=countSql

debug: true
